@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Playfair+Display&display=swap");
/* //Tag Selectors */
header {
  position: fixed;
  z-index: 1;
  background-color: #C4EBF3;
  height: 100vh;
}

header > a {
  text-decoration: none;
}

h1 {
  /* Font External */
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

/* ID Selector */
#front {
  font-size: 144px;
  font-weight: regular;
  color: #333;
}

/* Class Selector */
.nav-link {
  text-decoration: none;
  /* Font Pre-installed */
  font-family: Helvetica, sans-serif;
}

/* Code Outside of Lab */
/* Colors
Light Blue: C4EBF3
Blue Green Hamburger: 0C7A91
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
.nav {
  font-family: 'Noto Sans JP', sans-serif;
}

a:focus, button:focus {
  outline: 5px solid #1D8EA7;
  outline-offset: 2px;
}

a:hover, button:hover {
  opacity: 0.6;
}

.hamburger {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 900;
  left: 190px;
  top: 0;
  background-color: #C4EBF3;
  border-radius: 0 0 20px 0;
  cursor: pointer;
  border: none;
  -webkit-transition: -webkit-transform 200ms 0 ease-in-out;
  transition: -webkit-transform 200ms 0 ease-in-out;
  transition: transform 200ms 0 ease-in-out;
  transition: transform 200ms 0 ease-in-out, -webkit-transform 200ms 0 ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #0C7A91;
  position: fixed;
  left: 200px;
  top: 15px;
  z-index: 2;
  border-radius: 10px;
}

.hamburger::after {
  margin-top: 10px;
}

.hide {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  -webkit-transition: -webkit-transform 150ms 0ms ease-in-out;
  transition: -webkit-transform 150ms 0ms ease-in-out;
  transition: transform 150ms 0ms ease-in-out;
  transition: transform 150ms 0ms ease-in-out, -webkit-transform 150ms 0ms ease-in-out;
}

.hide .header {
  opacity: 0;
}

.slide,
.slide::before,
.slide::after {
  -webkit-transform: translateX(-190px);
          transform: translateX(-190px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1.33rem;
  text-align: center;
  position: fixed;
}

.header .logo {
  margin-bottom: 1rem;
  font-family: 'Playfair Display', cursive;
}

.header .logo .logo-link {
  text-decoration: none;
  color: #0C7A91;
}

.header .email-link {
  color: #0C7A91;
  font-size: 20px;
  line-height: -500px;
}

.header .email-link span {
  position: relative;
  top: -10px;
  font-weight: bold;
}

.header .nav-list {
  list-style-type: none;
  padding-top: 1rem;
}

.header .nav-list .nav-item .nav-link {
  color: #054553;
  display: inline-block;
  margin-top: 1rem;
}

.call-to-action {
  margin: 0 auto;
}

.call-to-action .call-to-action-info {
  padding: 5rem 0;
  max-width: 60ch;
}

.call-to-action .call-to-action-info .call-to-action-title {
  font-size: 48px;
  font-family: 'Playfair Display', cursive;
  color: #054553;
}

.call-to-action .call-to-action-info .call-to-action-par {
  text-align: justify;
  margin: 3rem 0;
  color: #777;
}

.call-to-action .call-to-action-info .call-to-action-btn {
  text-decoration: none;
  display: inline-block;
  background-color: #1D8EA7;
  color: #FFF;
  padding: 1rem 2.34rem;
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

.call-to-action .call-to-action-info .call-to-action-btn:focus {
  outline: 5px solid #1D8EA7;
  outline-offset: 2px;
}

.call-to-action .call-to-action-info .call-to-action-btn:hover {
  opacity: 0.6;
}

.content {
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .page-name {
  font-family: 'Playfair Display';
  font-size: 60px;
  color: #111;
}

.content .page-article {
  margin: 4.5rem 0;
  line-height: 250%;
  max-width: 90ch;
}

.form {
  margin: 200px auto;
  text-align: justify;
}

.form section {
  text-align: center;
}

.form h2 {
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  width: 60%;
  background: url("./images/butterflies.jpg");
}

.input {
  display: block;
  margin: .66rem auto;
  padding: 1rem;
}

.submit {
  display: block;
  margin: 0 auto;
  padding: 1rem 2.17rem;
  background-color: #FFF;
  border-radius: 50px;
  border: #1D8EA7 6px solid;
}

.page-name {
  background-color: #1D8EA7;
  display: block;
  width: 100%;
  color: #34b7e2;
  z-index: -11;
  text-align: center;
}

@media (min-width: 800px) {
  .call-to-action {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=myStyles.css.map */