@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Playfair+Display&display=swap');

/* //Tag Selectors */
header {
    position: fixed;
    z-index: 1;
    background-color: #C4EBF3;
    height: 100vh;
}
header > a {
    text-decoration: none;
}

h1 {
    /* Font External */
    font-family: 'Playfair Display', serif;
    text-decoration: none ;
}

/* ID Selector */
#front {
    font-size: 144px;
    font-weight: regular;
    color: #333;
}
/* Class Selector */
.nav-link {
    text-decoration: none;
    /* Font Pre-installed */
    font-family: Helvetica, sans-serif;
}





/* Code Outside of Lab */

/* Colors
Light Blue: C4EBF3
Blue Green Hamburger: 0C7A91
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
.nav {
    font-family: 'Noto Sans JP', sans-serif;
}
a, button {
    &:focus {
        outline: 5px solid #1D8EA7;
        outline-offset: 2px;
    }
    &:hover {
        opacity: 0.6;
    }
}

.hamburger {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 900;
    left: 190px;
    top: 0;
    background-color: #C4EBF3;
    border-radius: 0 0 20px 0;
    cursor: pointer;
    border: none;
    transition: transform 200ms 0 ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #0C7A91;
    position: fixed;
    left: 200px;
    top: 15px;
    z-index: 2;
    border-radius: 10px;
}
.hamburger::after {
    margin-top: 10px;
}

.hide {
    transform: translateX(-400px);
    transition: transform 150ms 0ms ease-in-out;
    .header {
        opacity: 0;
    }
    
}
.slide,
.slide::before,
.slide::after {
    transform: translateX(-190px);
}

.header {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.33rem;
    text-align: center;
    position: fixed;
    .logo {
        margin-bottom: 1rem;
        font-family:'Playfair Display', cursive;
        .logo-link {
            text-decoration: none;
            color: #0C7A91;
        }
    }
    .email-link {
        color:  #0C7A91;
        font-size: 20px;
        line-height: -500px;
        span {
            position: relative;
            top: -10px;
            font-weight: bold;
        }
    }
    .nav-list {
        list-style-type: none;
        padding-top: 1rem;
        .nav-item {
            .nav-link {
                color: #054553;
                display: inline-block;
                margin-top: 1rem;
            }
        }
    }

}
.call-to-action {
    margin: 0 auto;
    .call-to-action-info {
        padding: 5rem 0;
        max-width: 60ch;
        .call-to-action-title {
            font-size: 48px;
            font-family: 'Playfair Display', cursive;
            color: #054553;
        }
        .call-to-action-par {
            text-align: justify;
            margin: 3rem 0;
            color: #777;
        }
        .call-to-action-btn {
            text-decoration: none;
            display: inline-block;
            background-color: #1D8EA7;
            color: #FFF;
            padding: 1rem 2.34rem;
            border-radius: 50px;
            font-size: 20px;
            text-transform: uppercase;
            &:focus {
                outline: 5px solid #1D8EA7;
                outline-offset: 2px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.content {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-name {
        font-family: 'Playfair Display';
        font-size: 60px;
        color: #111;
    }
    .page-article {
        margin: 4.5rem 0;
        line-height: 250%;
        max-width: 90ch;
    }
}
.form {
    margin: 200px auto;
    text-align: justify;
    section {
        text-align: center;
    }
    h2 {
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        width: 60%;
        background: url('./images/butterflies.jpg');
    }
}
.input {
    display: block;
    margin: .66rem auto;
    padding: 1rem;
}
.submit {
    display: block;
    margin: 0 auto;
    padding: 1rem 2.17rem;
    background-color: #FFF;
    border-radius: 50px;
    border: #1D8EA7 6px solid;
}
.page-name {
    background-color: #1D8EA7;
    display: block;
    width: 100%;
    color: #34b7e2;
    z-index: -11;
    text-align: center;
}

// Media Queries

@media (min-width: 800px) {
    .call-to-action {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    //     .call-to-action-info {
    //         padding: 5rem 0;
    //         max-width: 80ch;
    //         .call-to-action-title {
    //             font-size: 48px;
    //             font-family: 'Playfair Display', cursive;
    //             color: #054553;
    //         }
    //         .call-to-action-par {
    //             text-align: justify;
    //             margin: 3rem 0;
    //         }
    //         .call-to-action-btn {
    //             text-decoration: none;
    //             display: inline-block;
    //             background-color: #1D8EA7;
    //             color: #FFF;
    //             padding: 1rem 2.34rem;
    //             border-radius: 50px;
    //             font-size: 20px;
    //             text-transform: uppercase;
    //         }
    //     }
    }
}
.change-color {
    border-radius: 50px;
    border: none;
    background-color: #333;
    padding: 1rem;
    color: #DDD;
}
.white {
    background-color: #DDD !important;
}
input:invalid {
    outline: red solid 3px;
}