@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Playfair+Display&display=swap');

/* //Tag Selectors */
header {
    position: fixed;
    z-index: 1;
    background-color: #C4EBF3;
    height: 100%;
}
header > a {
    text-decoration: none;
}

h1 {
    /* Font External */
    font-family: 'Playfair Display', serif;
    text-decoration: none ;
}

/* ID Selector */
#front {
    font-size: 144px;
    font-weight: regular;
    color: #333;
}
/* Class Selector */
.nav-link {
    text-decoration: none;
    /* Font Pre-installed */
    font-family: Helvetica, sans-serif;
}





/* Code Outside of Lab */

/* Colors
Light Blue: C4EBF3
Blue Green Hamburger: 0C7A91
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
.nav {
    font-family: 'Noto Sans JP', sans-serif;

}

.hamburger {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 190px;
    top: 0;
    background-color: #C4EBF3;
    border-radius: 0 0 20px 0;
    cursor: pointer;
    &:focus {
        outline: 5px 2px solid #1D8EA7;
    }
}
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #0C7A91;
    position: fixed;
    left: 200px;
    top: 15px;
    z-index: 2;
    border-radius: 10px;
}
.hamburger::after {
    margin-top: 10px;
}

.hide {
    transform: scale(0, 1);
}
.slide,
.slide::before,
.slide::after {
    transform: translateX(-190px);
}

.header {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.33rem;
    .logo {
        margin-bottom: 1rem;
        font-family:'Playfair Display', cursive;
        .logo-link {
            text-decoration: none;
            color: #0C7A91;
        }
    }

}
.call-to-action {
    width: 95%;
    margin: 0 auto;
    .call-to-action-info {
        padding: 5rem 0;
        max-width: 60ch;
        .call-to-action-title {
            font-size: 48px;
            font-family: 'Playfair Display', cursive;
            color: #054553;
        }
        .call-to-action-par {
            text-align: justify;
            margin: 3rem 0;
            color: #777;
        }
        .call-to-action-btn {
            text-decoration: none;
            display: inline-block;
            background-color: #1D8EA7;
            color: #FFF;
            padding: 1rem 2.34rem;
            border-radius: 50px;
            font-size: 20px;
            text-transform: uppercase;
            &:focus,
            &:active {
                outline: 5px 2px solid #1D8EA7;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-name {
        font-family: 'Playfair Display';
        font-size: 60px;
        color: #111;
    }
    .page-article {
        max-width: 80ch;
    }
}


// Media Queries

@media (min-width: 800px) {
    .call-to-action {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    //     .call-to-action-info {
    //         padding: 5rem 0;
    //         max-width: 80ch;
    //         .call-to-action-title {
    //             font-size: 48px;
    //             font-family: 'Playfair Display', cursive;
    //             color: #054553;
    //         }
    //         .call-to-action-par {
    //             text-align: justify;
    //             margin: 3rem 0;
    //         }
    //         .call-to-action-btn {
    //             text-decoration: none;
    //             display: inline-block;
    //             background-color: #1D8EA7;
    //             color: #FFF;
    //             padding: 1rem 2.34rem;
    //             border-radius: 50px;
    //             font-size: 20px;
    //             text-transform: uppercase;
    //         }
    //     }
    }
}